<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item mx-4">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item  mx-4">
            <a class="nav-link" routerLink="chofer">Chofer</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="bus">Bus</a>
          </li>
          <li class="nav-item  mx-4">
            <a class="nav-link" routerLink="viaje">Viajes</a>
          </li>
          <!-- <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Facturacion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="cliente">Chofer</a></li>
            </ul>
          </li> -->
          <!-- <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inventario
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="mercaderia">Mercaderia</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>