<h1 style="text-align: center;">Administración de Tripulaciones</h1>
<div class="row">
    <button type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#addModal"
        style="margin-bottom: 10px;">
        New Tripulacion
    </button>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Agregar Tripulacion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input class="form-control" type="text" placeholder="Chofer 1" name="chofer1"
                            [(ngModel)]="Nuevo.IdChofer1" />
                        <input class="form-control" type="text" placeholder="Chofer 2" name="chofer2"
                            [(ngModel)]="Nuevo.IdChofer2" />
                        <input class="form-control" type="text" placeholder="Chofer 3" name="chofer3"
                            [(ngModel)]="Nuevo.IdChofer3" />
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="btn-form" (click)="addOrEdit()" class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 ">
        <div class="col " *ngFor="let obj of ListaConductores" (click)="openForEdit(obj)">
            <div class="card text-bg-light mb-3">
                <!-- <img src="https://img.icons8.com/?size=512&id=0lg0kb05hrOz&format=png"
                    class="card-img-top" alt="user" style="width: 80%;"> -->
                <div class="card-body">
                    <!-- <h5 class="card-title">{{ obj.Nombre }} {{ obj.Apellidos }}</h5> -->
                    <!-- <h6>{{ obj.Cedula }} </h6> -->
                    <p class="card-text"><strong>{{obj.IdChofer1}}</strong></p>
                    <p class="card-text"><strong>{{obj.IdChofer2}}</strong></p>
                    <p class="card-text"><strong>{{obj.IdChofer3}}</strong></p>
                    <p><em>Codigo: {{ obj.IdCodigo}} </em></p>

                    <!-- Button trigger modal Se usa el mismo modal que el boton agregar-->
                    <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                        Edit
                    </button>
                    <button class="btn btn-primary" (click)="Delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>